* {
    box-sizing: border-box;
}

body {
    margin: auto 0;
}

navbar {
    text-decoration: none;
    background-color: black;
    display: flex;
}

h2 {
    text-transform: capitalize;
}

navbar > h2 {
    padding-left: 40px;
    color: white;
}

.home {
    background-image: url('img/hbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}